<h1>Follower Users</h1>
<% if @users.exists? %>
  <% @users.each do |user| %>
    <table class="table">
      <thead>
        <tr>
          <th><b>image</b></th>
          <th><b>name</b></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <% if user.profile_image.attached? %>
              <%= image_tag user.profile_image, size: "100x100" %>
            <% else %>
              <%= image_tag 'default-image', size: "100x100" %>
            <% end %>
          </td>
          <td><%= user.name %></td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
          <td><%=link_to "Show", user_path(user.id) %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>