  <div class="col-md-3">
    <h1>Users info</h1>
    <% if @user.profile_image.attached? %>
      <%= image_tag @user.profile_image, size: "100x100" %>
    <% else %>
      <%= image_tag 'default-image', size: "100x100" %>
    <% end %>
    <table class="table">
      <tbody>
        <tr>
          <td><b>name</b></td>
          <td><b><%= @user.name %></b></td>
        </tr>
        <tr>
          <td><b>introduction</b></td>
          <td><b><%= @user.introduction %></b></td>
        </tr>
        <tr>
          <td><b>follows</b></td>
          <td><b><%= link_to @user.followings.count, user_followings_path(@user) %></b></td>
        </tr>
        <tr>
          <td><b>followers</b></td>
          <td><b><%= link_to @user.followers.count, user_followers_path(@user) %></b></td>
        </tr>
      </tbody>
    </table>
    <% unless @user == current_user %>
      <% if current_user.following?(@user) %>
        <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-info" %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
      <% end %>
    <% end %>
    <% unless @user.guest_user? %>
      <%=link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fa-solid fa-user-cog" style="color: #8b8e92;"></i>
      <% end %>
    <% end %>
    <h1>New book</h1>
      <%= form_with model: Book.new do |f| %>
        <h5>Title</h5>
        <%= f.text_field :title %>
        <h5>Opinion</h5>
        <%= f.text_area :body %><br>
        <%= f.submit 'Create Book', :class => "btn btn-sm btn-success" %>
      <% end %>
  </div>
