  <div class="col-4">
    <h1>Users info</h1>
    <% if current_user.image.attached? %>
      <%= image_tag current_user.image, size: "100x100" %>
    <% else %>
      <%= image_tag 'default-image', size: "100x100" %>
    <% end %>
    <table class="table">
      <tbody>
        <tr>
          <td><b>name</b></td>
          <td><b><%= current_user.name %></b></td>
        </tr>
        <tr>
          <td><b>introduction</b></td>
          <td><b><%= current_user.introduction %></b></td>
        </tr>
      </tbody>
    </table>
      <%=link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fa-solid fa-user-gear" style="color: #8b8e92;"></i>
      <% end %>
    <h1>New book</h1>
      <%= form_with model: Book.new do |f| %>
        <h5>Title</h5>
        <%= f.text_field :title %>
        <h5>Opinion</h5>
        <%= f.text_area :body %><br>
        <%= f.submit 'Create Book', :class => "btn btn-sm btn-success" %>
      <% end %>
  </div>
