<div class="col-4">
  <h1>Users info</h1>
  <% if @user.image.attached? %>
    <%= image_tag @user.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'default-image', size: "100x100" %>
  <% end %>
  <table class="table">
    <tbody>
      <tr>
        <td><b>name</b></td>
        <td><b><%= @user.name %></b></td>
      </tr>
      <tr>
        <td><b>introduction</b></td>
        <td><b><%= @user.introduction %></b></td>
      </tr>
    </tbody>
  </table>
  <% if @user.id == current_user.id %>
    <a href="user/#{current_user.id}/edit" class="btn btn-outline-secondary btn-block">
      <i class="fa-solid fa-user-gear" style="color: #8b8e92;"></i>
    </a>
  <% else %>
    <a href="user/#{@user.id}" class="btn btn-outline-secondary btn-block">
      <i class="fa-solid fa-user-gear" style="color: #8b8e92;"></i>
    </a>
  <% end %>
  <h1>New book</h1>
    <%= form_with model: Book.new do |f| %>
      <h5>Title</h5>
      <%= f.text_field :title %>
      <h5>Opinion</h5>
      <%= f.text_area :body %>
      <%= f.submit 'Create Book', :class => "btn btn-sm btn-success" %>
    <% end %>
</div>

<div class="col-8">

</div>