<div class="container">
  <%= render 'layouts/error', obj: @book %>
  <div class="row mx-auto">
    <div class="col-md-3">
      <h1>Users info</h1>
      <%= render 'users/info', user: current_user %>
      <h1>New book</h1>
      <%= render 'books/form', book: Book.new %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <%= link_to "新しい順", books_path(sort: 'created_at DESC') %>
      |
      <%= link_to "評価の高い順", books_path(sort: 'score DESC') %>
      <%= render 'index', books: @books %>
    </div>
  </div>
</div>