<div class="container">
  <div class="row mx-auto">
    <%= render 'sidebar', user: @book.user %>
    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <a href="/users/#{@book.user_id}">
                <% if @book.user.profile_image.attached? %>
                  <%= image_tag @book.user.profile_image, size: "100x100" %>
                <% else %>
                  <%= image_tag 'default-image', size: "100x100" %>
                <% end %>
                <br>
                <%=link_to @book.user.name, user_path(@book.user_id) %>
              </a>
            </td>
            <td>
              <%=link_to @book.title, book_path(@book.id) %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <td class="favorite-btn">
              <%= render 'favorites/favorite', book: @book %>
            </td>
            <td>コメント数:<%= @book.book_comments.count %></td>
            <td>
              <% if @book.user_id == current_user.id %>
                <%=link_to "Edit", edit_book_path(@book.id), :class => "btn btn-sm btn-success"%>
              <% end %>
            </td>
            <td>
              <% if @book.user_id == current_user.id %>
                <%=link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?", :class => "btn btn-sm btn-danger" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <%= render 'book_comments/comment', book: @book %>
      </table>
      <%= form_with model:[@book, @book_comment], local: false do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, rows: '5', class: 'form-control book_body' %>
        </div>
        <div class="form-group">
          <%= f.submit "送信" %>
        </div>
      <% end %>
    </div>
  </div>
</div>